@font-face {
    font-family: 'graphik';
    src: url("../fonts/graphik-light-webfont.eot");
    src: url("../fonts/graphik-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/graphik-light-webfont.woff") format("woff"), url("../fonts/graphik-light-webfont.ttf") format("truetype"), url("../fonts/graphik-light-webfont.svg#graphiklight") format("svg");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'graphik';
    src: url("../fonts/graphik-regular-webfont.eot");
    src: url("../fonts/graphik-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/graphik-regular-webfont.woff") format("woff"), url("../fonts/graphik-regular-webfont.ttf") format("truetype"), url("../fonts/graphik-regular-webfont.svg#graphikregular") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'graphik';
    src: url("../fonts/graphik-medium-webfont.eot");
    src: url("../fonts/graphik-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/graphik-medium-webfont.woff") format("woff"), url("../fonts/graphik-medium-webfont.ttf") format("truetype"), url("graphik-medium-webfont.svg#graphikmedium") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'graphik';
    src: url("../fonts/graphik-semibold-webfont.eot");
    src: url("../fonts/graphik-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/graphik-semibold-webfont.woff") format("woff"), url("../fonts/graphik-semibold-webfont.ttf") format("truetype"), url("../fonts/graphik-semibold-webfont.svg#graphiksemibold") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'graphik';
    src: url("../fonts/graphik-bold-webfont.eot");
    src: url("../fonts/graphik-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/graphik-bold-webfont.woff") format("woff"), url("../fonts/graphik-bold-webfont.ttf") format("truetype"), url("../fonts/graphik-bold-webfont.svg#graphikbold") format("svg");
    font-weight: 800;
    font-style: normal;
}



:root{
    --heading-dark: #3c445f;
    --content-dark: #000;
    --brand-dark: #e96852;
    --brand-light: #f1a497;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    color:  var(--heading-dark);
}

h2{
    color: var(--heading-dark);
    font-size: 2.5rem;
}

p:last-of-type {
    margin-bottom: 0;
}

p {
    margin: 1.5em 0;
    font-size: 1.2em;
    line-height: 1.5em;
}


html {
    font-family: 'graphik', Arial, Verdana, san-serif;
    font-size: 16px;
    line-height: 1.15rem;
    font-weight: 200;
}

.d-none{
    display: none !important;
}

.flex{
    display: flex;
}

.maze-ir{
    h2, h3, h4{
        line-height: 1.1em;
        font-weight: 600;
        margin: 0 0 0.5em 0;
        letter-spacing: -.05em;
    }
}

.container-xl{
    max-width: 100%;
    margin: auto;
    padding: 0 2vw;
}

.container-content{
    width: 100%;
    padding: 4vw 10vw;
}

@media(max-width: 600px){
    .container-content{
        width: 100%;
        padding: 4vw 5vw;
    }
}

.filter{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 10px;
    margin: 60px 0;
    select{
        font-size: 20px;
        border: 1px solid var(--heading-dark);
        padding: 7px 8px;
        outline: none;
        background: url(../images/Polygon.svg);
        background-repeat: no-repeat;
        background-position: 90px 11px;
        padding-right: 2.8em;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        background-size: 9px;
        font-weight: 400;
    }

    button{
        outline: none;
        border: none;
        background-color: var(--brand-dark);
        font-size: 20px;
        padding: 7.4px 20px;

        color: white;
        cursor: pointer;
    }

    label{
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 400;
    }
}